In [20]:
import pandas as pd
df = pd.read_csv(r"C:\Users\yasha\Downloads\iris_dataset\iris.data.csv", header=None)
df.columns = ['SepalLength','SepalWidth','PetalLength','PetalWidth','Species']
print(df.head())
print(df.tail())

   SepalLength  SepalWidth  PetalLength  PetalWidth      Species
0          5.1         3.5          1.4         0.2  Iris-setosa
1          4.9         3.0          1.4         0.2  Iris-setosa
2          4.7         3.2          1.3         0.2  Iris-setosa
3          4.6         3.1          1.5         0.2  Iris-setosa
4          5.0         3.6          1.4         0.2  Iris-setosa
     SepalLength  SepalWidth  PetalLength  PetalWidth         Species
145          6.7         3.0          5.2         2.3  Iris-virginica
146          6.3         2.5          5.0         1.9  Iris-virginica
147          6.5         3.0          5.2         2.0  Iris-virginica
148          6.2         3.4          5.4         2.3  Iris-virginica
149          5.9         3.0          5.1         1.8  Iris-virginica

In [2]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       150 non-null    float64
 1   1       150 non-null    float64
 2   2       150 non-null    float64
 3   3       150 non-null    float64
 4   4       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB
None

In [8]:
print("Description : ",df.describe())   
print("Shape : ",df.shape)   
print("Column names : ",df.columns)
print("Datatype of each col : ",df.dtypes)

Description :         SepalLength  SepalWidth  PetalLength  PetalWidth
count   150.000000  150.000000   150.000000  150.000000
mean      5.843333    3.054000     3.758667    1.198667
std       0.828066    0.433594     1.764420    0.763161
min       4.300000    2.000000     1.000000    0.100000
25%       5.100000    2.800000     1.600000    0.300000
50%       5.800000    3.000000     4.350000    1.300000
75%       6.400000    3.300000     5.100000    1.800000
max       7.900000    4.400000     6.900000    2.500000
Shape :  (150, 5)
Column names :  Index(['SepalLength', 'SepalWidth', 'PetalLength', 'PetalWidth', 'Species'], dtype='object')
Datatype of each col :  SepalLength    float64
SepalWidth     float64
PetalLength    float64
PetalWidth     float64
Species         object
dtype: object

In [ ]:
print(df['SepalLength'])   ## Single col

0      5.1
1      4.9
2      4.7
3      4.6
4      5.0
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: SepalLength, Length: 150, dtype: float64

In [10]:
print(df[['SepalLength','Species']]) ## Multiple cols

     SepalLength         Species
0            5.1     Iris-setosa
1            4.9     Iris-setosa
2            4.7     Iris-setosa
3            4.6     Iris-setosa
4            5.0     Iris-setosa
..           ...             ...
145          6.7  Iris-virginica
146          6.3  Iris-virginica
147          6.5  Iris-virginica
148          6.2  Iris-virginica
149          5.9  Iris-virginica

[150 rows x 2 columns]

In [12]:
print(df.iloc[0],'\n')                     # returns first row
print(df.iloc[0:5],'\n')                   # returns first 5 rows
print(df.loc[0],'\n')                      # returns row by label
print(df.loc[:, 'SepalLength'],'\n')       # returns column by label

SepalLength            5.1
SepalWidth             3.5
PetalLength            1.4
PetalWidth             0.2
Species        Iris-setosa
Name: 0, dtype: object

   SepalLength  SepalWidth  PetalLength  PetalWidth      Species
0          5.1         3.5          1.4         0.2  Iris-setosa
1          4.9         3.0          1.4         0.2  Iris-setosa
2          4.7         3.2          1.3         0.2  Iris-setosa
3          4.6         3.1          1.5         0.2  Iris-setosa
4          5.0         3.6          1.4         0.2  Iris-setosa

SepalLength            5.1
SepalWidth             3.5
PetalLength            1.4
PetalWidth             0.2
Species        Iris-setosa
Name: 0, dtype: object

0      5.1
1      4.9
2      4.7
3      4.6
4      5.0
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: SepalLength, Length: 150, dtype: float64

In [13]:
print(df[df['SepalLength'] > 5])  ## Filtering Data

     SepalLength  SepalWidth  PetalLength  PetalWidth         Species
0            5.1         3.5          1.4         0.2     Iris-setosa
5            5.4         3.9          1.7         0.4     Iris-setosa
10           5.4         3.7          1.5         0.2     Iris-setosa
14           5.8         4.0          1.2         0.2     Iris-setosa
15           5.7         4.4          1.5         0.4     Iris-setosa
..           ...         ...          ...         ...             ...
145          6.7         3.0          5.2         2.3  Iris-virginica
146          6.3         2.5          5.0         1.9  Iris-virginica
147          6.5         3.0          5.2         2.0  Iris-virginica
148          6.2         3.4          5.4         2.3  Iris-virginica
149          5.9         3.0          5.1         1.8  Iris-virginica

[118 rows x 5 columns]

In [16]:
print(df.sort_values('SepalLength', ascending=False).head(3))  ## returns in descending order

     SepalLength  SepalWidth  PetalLength  PetalWidth         Species
131          7.9         3.8          6.4         2.0  Iris-virginica
122          7.7         2.8          6.7         2.0  Iris-virginica
118          7.7         2.6          6.9         2.3  Iris-virginica

In [ ]:
print(df.isnull())                   # Detect missing
print(df.isnull().sum())             # Count missing
df.dropna()                          # Drop missing
df.fillna(0)                         # Fill missing
# df['SepalLength'].fillna(df['SepalLength'].mean(), inplace=True)  ## fills nan values with mean of that col

     SepalLength  SepalWidth  PetalLength  PetalWidth  Species
0          False       False        False       False    False
1          False       False        False       False    False
2          False       False        False       False    False
3          False       False        False       False    False
4          False       False        False       False    False
..           ...         ...          ...         ...      ...
145        False       False        False       False    False
146        False       False        False       False    False
147        False       False        False       False    False
148        False       False        False       False    False
149        False       False        False       False    False

[150 rows x 5 columns]
SepalLength    0
SepalWidth     0
PetalLength    0
PetalWidth     0
Species        0
dtype: int64

     SepalLength  SepalWidth  PetalLength  PetalWidth         Species
0            5.1         3.5          1.4         0.2     Iris-setosa
1            4.9         3.0          1.4         0.2     Iris-setosa
2            4.7         3.2          1.3         0.2     Iris-setosa
3            4.6         3.1          1.5         0.2     Iris-setosa
4            5.0         3.6          1.4         0.2     Iris-setosa
..           ...         ...          ...         ...             ...
145          6.7         3.0          5.2         2.3  Iris-virginica
146          6.3         2.5          5.0         1.9  Iris-virginica
147          6.5         3.0          5.2         2.0  Iris-virginica
148          6.2         3.4          5.4         2.3  Iris-virginica
149          5.9         3.0          5.1         1.8  Iris-virginica

[150 rows x 5 columns]

In [17]:
print(df['SepalLength'].sum())
print(df['SepalLength'].mean())

876.5
5.843333333333334

In [ ]:
print(df.groupby('Species').sum())  ## give sum of each col of all the species

                 SepalLength  SepalWidth  PetalLength  PetalWidth
Species
Iris-setosa            250.3       170.9         73.2        12.2
Iris-versicolor        296.8       138.5        213.0        66.3
Iris-virginica         329.4       148.7        277.6       101.3

In [ ]:
print(df.groupby('Species')['SepalLength'].mean())  ## gives mean of SepalLlength col of all the species

Species
Iris-setosa        5.006
Iris-versicolor    5.936
Iris-virginica     6.588
Name: SepalLength, dtype: float64