<a href="https://colab.research.google.com/github/SpringBoardMentor193s/SentinelNet_Oct_Batch/blob/laxmisahitya/pd_basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
import pandas as pd
df = pd.read_csv(r"/content/iris.csv", header=None, skiprows=1) # Skip the header row
df.columns = ['SepalLength','SepalWidth','PetalLength','PetalWidth','Species']
print(df.head())
print(df.tail())

   SepalLength  SepalWidth  PetalLength  PetalWidth Species
0          5.1         3.5          1.4         0.2  setosa
1          4.9         3.0          1.4         0.2  setosa
2          4.7         3.2          1.3         0.2  setosa
3          4.6         3.1          1.5         0.2  setosa
4          5.0         3.6          1.4         0.2  setosa
     SepalLength  SepalWidth  PetalLength  PetalWidth    Species
145          6.7         3.0          5.2         2.3  virginica
146          6.3         2.5          5.0         1.9  virginica
147          6.5         3.0          5.2         2.0  virginica
148          6.2         3.4          5.4         2.3  virginica
149          5.9         3.0          5.1         1.8  virginica

In [2]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 151 entries, 0 to 150
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   SepalLength  151 non-null    object
 1   SepalWidth   151 non-null    object
 2   PetalLength  151 non-null    object
 3   PetalWidth   151 non-null    object
 4   Species      151 non-null    object
dtypes: object(5)
memory usage: 6.0+ KB
None

In [3]:
print("Description : ",df.describe())
print("Shape : ",df.shape)
print("Column names : ",df.columns)
print("Datatype of each col : ",df.dtypes)

Description :         SepalLength SepalWidth PetalLength PetalWidth Species
count          151        151         151        151     151
unique          36         24          44         23       4
top            5.0        3.0         1.5        0.2  setosa
freq            10         26          14         28      50
Shape :  (151, 5)
Column names :  Index(['SepalLength', 'SepalWidth', 'PetalLength', 'PetalWidth', 'Species'], dtype='object')
Datatype of each col :  SepalLength    object
SepalWidth     object
PetalLength    object
PetalWidth     object
Species        object
dtype: object

In [4]:
print(df['SepalLength'])

0      sepal_length
1               5.1
2               4.9
3               4.7
4               4.6
           ...
146             6.7
147             6.3
148             6.5
149             6.2
150             5.9
Name: SepalLength, Length: 151, dtype: object

In [5]:
print(df[['SepalLength','Species']])

      SepalLength    Species
0    sepal_length    species
1             5.1     setosa
2             4.9     setosa
3             4.7     setosa
4             4.6     setosa
..            ...        ...
146           6.7  virginica
147           6.3  virginica
148           6.5  virginica
149           6.2  virginica
150           5.9  virginica

[151 rows x 2 columns]

In [6]:
print(df.iloc[0],'\n')                     # returns first row
print(df.iloc[0:5],'\n')                   # returns first 5 rows
print(df.loc[0],'\n')                      # returns row by label
print(df.loc[:, 'SepalLength'],'\n')       # returns column by label

SepalLength    sepal_length
SepalWidth      sepal_width
PetalLength    petal_length
PetalWidth      petal_width
Species             species
Name: 0, dtype: object

    SepalLength   SepalWidth   PetalLength   PetalWidth  Species
0  sepal_length  sepal_width  petal_length  petal_width  species
1           5.1          3.5           1.4          0.2   setosa
2           4.9          3.0           1.4          0.2   setosa
3           4.7          3.2           1.3          0.2   setosa
4           4.6          3.1           1.5          0.2   setosa

SepalLength    sepal_length
SepalWidth      sepal_width
PetalLength    petal_length
PetalWidth      petal_width
Species             species
Name: 0, dtype: object

0      sepal_length
1               5.1
2               4.9
3               4.7
4               4.6
           ...
146             6.7
147             6.3
148             6.5
149             6.2
150             5.9
Name: SepalLength, Length: 151, dtype: object

In [9]:
df['SepalLength'] = pd.to_numeric(df['SepalLength']) # Convert to numeric
print(df[df['SepalLength'] > 5])

     SepalLength  SepalWidth  PetalLength  PetalWidth    Species
0            5.1         3.5          1.4         0.2     setosa
5            5.4         3.9          1.7         0.4     setosa
10           5.4         3.7          1.5         0.2     setosa
14           5.8         4.0          1.2         0.2     setosa
15           5.7         4.4          1.5         0.4     setosa
..           ...         ...          ...         ...        ...
145          6.7         3.0          5.2         2.3  virginica
146          6.3         2.5          5.0         1.9  virginica
147          6.5         3.0          5.2         2.0  virginica
148          6.2         3.4          5.4         2.3  virginica
149          5.9         3.0          5.1         1.8  virginica

[118 rows x 5 columns]

In [10]:
print(df.sort_values('SepalLength', ascending=False).head(3))

     SepalLength  SepalWidth  PetalLength  PetalWidth    Species
131          7.9         3.8          6.4         2.0  virginica
122          7.7         2.8          6.7         2.0  virginica
118          7.7         2.6          6.9         2.3  virginica

In [11]:
print(df.isnull())                   # Detect missing
print(df.isnull().sum())             # Count missing
df.dropna()                          # Drop missing
df.fillna(0)                         # Fill missing

     SepalLength  SepalWidth  PetalLength  PetalWidth  Species
0          False       False        False       False    False
1          False       False        False       False    False
2          False       False        False       False    False
3          False       False        False       False    False
4          False       False        False       False    False
..           ...         ...          ...         ...      ...
145        False       False        False       False    False
146        False       False        False       False    False
147        False       False        False       False    False
148        False       False        False       False    False
149        False       False        False       False    False

[150 rows x 5 columns]
SepalLength    0
SepalWidth     0
PetalLength    0
PetalWidth     0
Species        0
dtype: int64

     SepalLength  SepalWidth  PetalLength  PetalWidth    Species
0            5.1         3.5          1.4         0.2     setosa
1            4.9         3.0          1.4         0.2     setosa
2            4.7         3.2          1.3         0.2     setosa
3            4.6         3.1          1.5         0.2     setosa
4            5.0         3.6          1.4         0.2     setosa
..           ...         ...          ...         ...        ...
145          6.7         3.0          5.2         2.3  virginica
146          6.3         2.5          5.0         1.9  virginica
147          6.5         3.0          5.2         2.0  virginica
148          6.2         3.4          5.4         2.3  virginica
149          5.9         3.0          5.1         1.8  virginica

[150 rows x 5 columns]

In [12]:
print(df['SepalLength'].sum())
print(df['SepalLength'].mean())

876.5
5.843333333333334

In [13]:
print(df.groupby('Species').sum())

            SepalLength  SepalWidth  PetalLength  PetalWidth
Species
setosa            250.3       170.9         73.2        12.2
versicolor        296.8       138.5        213.0        66.3
virginica         329.4       148.7        277.6       101.3

In [14]:
print(df.groupby('Species')['SepalLength'].mean())

Species
setosa        5.006
versicolor    5.936
virginica     6.588
Name: SepalLength, dtype: float64