<a href="https://colab.research.google.com/github/SpringBoardMentor193s/SentinelNet_Oct_Batch/blob/laxmisahitya/sampledata.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
column_names = [
'duration', 'protocol_type', 'service', 'flag',
'src_bytes', 'dst_bytes',
'land', 'wrong_fragment', 'urgent', 'hot',
'num_failed_logins',
'logged_in', 'num_compromised',
'root_shell', 'su_attempted',
'num_root', 'num_file_creations',
'num_shells', 'num_access_files',
'num_outbound_cmds', 'is_host_login',
'is_guest_login', 'count',
'srv_count', 'serror_rate', 'srv_serror_rate',
'rerror_rate',
'srv_rerror_rate', 'same_srv_rate',
'diff_srv_rate', 'srv_diff_host_rate',
'dst_host_count', 'dst_host_srv_count',
'dst_host_same_srv_rate',
'dst_host_diff_srv_rate',
'dst_host_same_src_port_rate',
'dst_host_srv_diff_host_rate',
'dst_host_serror_rate',
'dst_host_srv_serror_rate',
'dst_host_rerror_rate',
'dst_host_srv_rerror_rate', 'class', 'difficulty' ]

In [8]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import zipfile
import os

# Unzip the file
zip_path = '/content/drive/MyDrive/nslkdd.zip'
extract_path = '/content/nsl-kdd'

with zipfile.ZipFile(zip_path, 'r') as zip_ref:
    zip_ref.extractall(extract_path)


# Load data
train_df = pd.read_csv(os.path.join(extract_path, 'KDDTrain+.txt'), header=None, names=column_names)
train_df.drop(['difficulty'], axis=1, inplace=True)

test_df = pd.read_csv(os.path.join(extract_path, 'KDDTest+.txt'), header=None, names=column_names)
test_df.drop(['difficulty'], axis=1, inplace=True)

# Display data
print("--- Training Data ---")
print(f"Shape: {train_df.shape}")
display(train_df.head())

print("--- Testing Data ---")
print(f"Shape: {test_df.shape}")
display(test_df.head())

--- Training Data ---
Shape: (125973, 42)

,duration,protocol_type,service,flag,src_bytes,dst_bytes,land,wrong_fragment,urgent,hot,...,dst_host_srv_count,dst_host_same_srv_rate,dst_host_diff_srv_rate,dst_host_same_src_port_rate,dst_host_srv_diff_host_rate,dst_host_serror_rate,dst_host_srv_serror_rate,dst_host_rerror_rate,dst_host_srv_rerror_rate,class
0,0,tcp,ftp_data,SF,491,0,0,0,0,0,...,25,0.17,0.03,0.17,0.00,0.00,0.00,0.05,0.00,normal
1,0,udp,other,SF,146,0,0,0,0,0,...,1,0.00,0.60,0.88,0.00,0.00,0.00,0.00,0.00,normal
2,0,tcp,private,S0,0,0,0,0,0,0,...,26,0.10,0.05,0.00,0.00,1.00,1.00,0.00,0.00,neptune
3,0,tcp,http,SF,232,8153,0,0,0,0,...,255,1.00,0.00,0.03,0.04,0.03,0.01,0.00,0.01,normal
4,0,tcp,http,SF,199,420,0,0,0,0,...,255,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,normal

--- Testing Data ---
Shape: (22544, 42)

,duration,protocol_type,service,flag,src_bytes,dst_bytes,land,wrong_fragment,urgent,hot,...,dst_host_srv_count,dst_host_same_srv_rate,dst_host_diff_srv_rate,dst_host_same_src_port_rate,dst_host_srv_diff_host_rate,dst_host_serror_rate,dst_host_srv_serror_rate,dst_host_rerror_rate,dst_host_srv_rerror_rate,class
0,0,tcp,private,REJ,0,0,0,0,0,0,...,10,0.04,0.06,0.00,0.00,0.0,0.0,1.00,1.00,neptune
1,0,tcp,private,REJ,0,0,0,0,0,0,...,1,0.00,0.06,0.00,0.00,0.0,0.0,1.00,1.00,neptune
2,2,tcp,ftp_data,SF,12983,0,0,0,0,0,...,86,0.61,0.04,0.61,0.02,0.0,0.0,0.00,0.00,normal
3,0,icmp,eco_i,SF,20,0,0,0,0,0,...,57,1.00,0.00,1.00,0.28,0.0,0.0,0.00,0.00,saint
4,1,tcp,telnet,RSTO,0,15,0,0,0,0,...,86,0.31,0.17,0.03,0.02,0.0,0.0,0.83,0.71,mscan

In [10]:
train_df.head()

,duration,protocol_type,service,flag,src_bytes,dst_bytes,land,wrong_fragment,urgent,hot,...,dst_host_srv_count,dst_host_same_srv_rate,dst_host_diff_srv_rate,dst_host_same_src_port_rate,dst_host_srv_diff_host_rate,dst_host_serror_rate,dst_host_srv_serror_rate,dst_host_rerror_rate,dst_host_srv_rerror_rate,class
0,0,tcp,ftp_data,SF,491,0,0,0,0,0,...,25,0.17,0.03,0.17,0.00,0.00,0.00,0.05,0.00,normal
1,0,udp,other,SF,146,0,0,0,0,0,...,1,0.00,0.60,0.88,0.00,0.00,0.00,0.00,0.00,normal
2,0,tcp,private,S0,0,0,0,0,0,0,...,26,0.10,0.05,0.00,0.00,1.00,1.00,0.00,0.00,neptune
3,0,tcp,http,SF,232,8153,0,0,0,0,...,255,1.00,0.00,0.03,0.04,0.03,0.01,0.00,0.01,normal
4,0,tcp,http,SF,199,420,0,0,0,0,...,255,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,normal

In [11]:
train_df.tail(4)

,duration,protocol_type,service,flag,src_bytes,dst_bytes,land,wrong_fragment,urgent,hot,...,dst_host_srv_count,dst_host_same_srv_rate,dst_host_diff_srv_rate,dst_host_same_src_port_rate,dst_host_srv_diff_host_rate,dst_host_serror_rate,dst_host_srv_serror_rate,dst_host_rerror_rate,dst_host_srv_rerror_rate,class
125969,8,udp,private,SF,105,145,0,0,0,0,...,244,0.96,0.01,0.01,0.0,0.00,0.0,0.00,0.0,normal
125970,0,tcp,smtp,SF,2231,384,0,0,0,0,...,30,0.12,0.06,0.00,0.0,0.72,0.0,0.01,0.0,normal
125971,0,tcp,klogin,S0,0,0,0,0,0,0,...,8,0.03,0.05,0.00,0.0,1.00,1.0,0.00,0.0,neptune
125972,0,tcp,ftp_data,SF,151,0,0,0,0,0,...,77,0.30,0.03,0.30,0.0,0.00,0.0,0.00,0.0,normal

In [12]:
train_df.describe()

,duration,src_bytes,dst_bytes,land,wrong_fragment,urgent,hot,num_failed_logins,logged_in,num_compromised,...,dst_host_count,dst_host_srv_count,dst_host_same_srv_rate,dst_host_diff_srv_rate,dst_host_same_src_port_rate,dst_host_srv_diff_host_rate,dst_host_serror_rate,dst_host_srv_serror_rate,dst_host_rerror_rate,dst_host_srv_rerror_rate
count,125973.00000,1.259730e+05,1.259730e+05,125973.000000,125973.000000,125973.000000,125973.000000,125973.000000,125973.000000,125973.000000,...,125973.000000,125973.000000,125973.000000,125973.000000,125973.000000,125973.000000,125973.000000,125973.000000,125973.000000,125973.000000
mean,287.14465,4.556674e+04,1.977911e+04,0.000198,0.022687,0.000111,0.204409,0.001222,0.395736,0.279250,...,182.148945,115.653005,0.521242,0.082951,0.148379,0.032542,0.284452,0.278485,0.118832,0.120240
std,2604.51531,5.870331e+06,4.021269e+06,0.014086,0.253530,0.014366,2.149968,0.045239,0.489010,23.942042,...,99.206213,110.702741,0.448949,0.188922,0.308997,0.112564,0.444784,0.445669,0.306557,0.319459
min,0.00000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.00000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,82.000000,10.000000,0.050000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.00000,4.400000e+01,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,255.000000,63.000000,0.510000,0.020000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.00000,2.760000e+02,5.160000e+02,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,...,255.000000,255.000000,1.000000,0.070000,0.060000,0.020000,1.000000,1.000000,0.000000,0.000000
max,42908.00000,1.379964e+09,1.309937e+09,1.000000,3.000000,3.000000,77.000000,5.000000,1.000000,7479.000000,...,255.000000,255.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [13]:
train_df.shape

(125973, 42)

In [14]:
print("\n--- Training Data Info ---")
train_df.info()

--- Training Data Info ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125973 entries, 0 to 125972
Data columns (total 42 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   duration                     125973 non-null  int64
 1   protocol_type                125973 non-null  object
 2   service                      125973 non-null  object
 3   flag                         125973 non-null  object
 4   src_bytes                    125973 non-null  int64
 5   dst_bytes                    125973 non-null  int64
 6   land                         125973 non-null  int64
 7   wrong_fragment               125973 non-null  int64
 8   urgent                       125973 non-null  int64
 9   hot                          125973 non-null  int64
 10  num_failed_logins            125973 non-null  int64
 11  logged_in                    125973 non-null  int64
 12  num_compromised              125973 non-null  int64
 13  root_shell                   125973 non-null  int64
 14  su_attempted                 125973 non-null  int64
 15  num_root                     125973 non-null  int64
 16  num_file_creations           125973 non-null  int64
 17  num_shells                   125973 non-null  int64
 18  num_access_files             125973 non-null  int64
 19  num_outbound_cmds            125973 non-null  int64
 20  is_host_login                125973 non-null  int64
 21  is_guest_login               125973 non-null  int64
 22  count                        125973 non-null  int64
 23  srv_count                    125973 non-null  int64
 24  serror_rate                  125973 non-null  float64
 25  srv_serror_rate              125973 non-null  float64
 26  rerror_rate                  125973 non-null  float64
 27  srv_rerror_rate              125973 non-null  float64
 28  same_srv_rate                125973 non-null  float64
 29  diff_srv_rate                125973 non-null  float64
 30  srv_diff_host_rate           125973 non-null  float64
 31  dst_host_count               125973 non-null  int64
 32  dst_host_srv_count           125973 non-null  int64
 33  dst_host_same_srv_rate       125973 non-null  float64
 34  dst_host_diff_srv_rate       125973 non-null  float64
 35  dst_host_same_src_port_rate  125973 non-null  float64
 36  dst_host_srv_diff_host_rate  125973 non-null  float64
 37  dst_host_serror_rate         125973 non-null  float64
 38  dst_host_srv_serror_rate     125973 non-null  float64
 39  dst_host_rerror_rate         125973 non-null  float64
 40  dst_host_srv_rerror_rate     125973 non-null  float64
 41  class                        125973 non-null  object
dtypes: float64(15), int64(23), object(4)
memory usage: 40.4+ MB

In [15]:
print("\n--- Missing Values ---")
print(train_df.isnull())

--- Missing Values ---
        duration  protocol_type  service   flag  src_bytes  dst_bytes   land  \
0          False          False    False  False      False      False  False
1          False          False    False  False      False      False  False
2          False          False    False  False      False      False  False
3          False          False    False  False      False      False  False
4          False          False    False  False      False      False  False
...          ...            ...      ...    ...        ...        ...    ...
125968     False          False    False  False      False      False  False
125969     False          False    False  False      False      False  False
125970     False          False    False  False      False      False  False
125971     False          False    False  False      False      False  False
125972     False          False    False  False      False      False  False

        wrong_fragment  urgent    hot  ...  dst_host_srv_count  \
0                False   False  False  ...               False
1                False   False  False  ...               False
2                False   False  False  ...               False
3                False   False  False  ...               False
4                False   False  False  ...               False
...                ...     ...    ...  ...                 ...
125968           False   False  False  ...               False
125969           False   False  False  ...               False
125970           False   False  False  ...               False
125971           False   False  False  ...               False
125972           False   False  False  ...               False

        dst_host_same_srv_rate  dst_host_diff_srv_rate  \
0                        False                   False
1                        False                   False
2                        False                   False
3                        False                   False
4                        False                   False
...                        ...                     ...
125968                   False                   False
125969                   False                   False
125970                   False                   False
125971                   False                   False
125972                   False                   False

        dst_host_same_src_port_rate  dst_host_srv_diff_host_rate  \
0                             False                        False
1                             False                        False
2                             False                        False
3                             False                        False
4                             False                        False
...                             ...                          ...
125968                        False                        False
125969                        False                        False
125970                        False                        False
125971                        False                        False
125972                        False                        False

        dst_host_serror_rate  dst_host_srv_serror_rate  dst_host_rerror_rate  \
0                      False                     False                 False
1                      False                     False                 False
2                      False                     False                 False
3                      False                     False                 False
4                      False                     False                 False
...                      ...                       ...                   ...
125968                 False                     False                 False
125969                 False                     False                 False
125970                 False                     False                 False
125971                 False                     False                 False
125972                 False                     False                 False

        dst_host_srv_rerror_rate  class
0                          False  False
1                          False  False
2                          False  False
3                          False  False
4                          False  False
...                          ...    ...
125968                     False  False
125969                     False  False
125970                     False  False
125971                     False  False
125972                     False  False

[125973 rows x 42 columns]

In [16]:
print("\n--- Missing Values ---")
print(train_df.isnull().sum())

--- Missing Values ---
duration                       0
protocol_type                  0
service                        0
flag                           0
src_bytes                      0
dst_bytes                      0
land                           0
wrong_fragment                 0
urgent                         0
hot                            0
num_failed_logins              0
logged_in                      0
num_compromised                0
root_shell                     0
su_attempted                   0
num_root                       0
num_file_creations             0
num_shells                     0
num_access_files               0
num_outbound_cmds              0
is_host_login                  0
is_guest_login                 0
count                          0
srv_count                      0
serror_rate                    0
srv_serror_rate                0
rerror_rate                    0
srv_rerror_rate                0
same_srv_rate                  0
diff_srv_rate                  0
srv_diff_host_rate             0
dst_host_count                 0
dst_host_srv_count             0
dst_host_same_srv_rate         0
dst_host_diff_srv_rate         0
dst_host_same_src_port_rate    0
dst_host_srv_diff_host_rate    0
dst_host_serror_rate           0
dst_host_srv_serror_rate       0
dst_host_rerror_rate           0
dst_host_srv_rerror_rate       0
class                          0
dtype: int64

In [17]:
print("\n--- Missing Values ---")
print(train_df.isnull().sum().sum())

--- Missing Values ---
0

In [18]:
train_df['class']

0          normal
1          normal
2         neptune
3          normal
4          normal
           ...
125968    neptune
125969     normal
125970     normal
125971    neptune
125972     normal
Name: class, Length: 125973, dtype: object

In [19]:
train_df['class'].value_counts()

class
normal             67343
neptune            41214
satan               3633
ipsweep             3599
portsweep           2931
smurf               2646
nmap                1493
back                 956
teardrop             892
warezclient          890
pod                  201
guess_passwd          53
buffer_overflow       30
warezmaster           20
land                  18
imap                  11
rootkit               10
loadmodule             9
ftp_write              8
multihop               7
phf                    4
perl                   3
spy                    2
Name: count, dtype: int64

In [20]:
train_df['class'].count()

np.int64(125973)

In [27]:
import pandas as pd
df = pd.read_csv(iris_csv_path)
df.columns = ['Id', 'SepalLength','SepalWidth','PetalLength','PetalWidth','Species']

print(df.head())
print(df.tail())

   Id  SepalLength  SepalWidth  PetalLength  PetalWidth      Species
0   1          5.1         3.5          1.4         0.2  Iris-setosa
1   2          4.9         3.0          1.4         0.2  Iris-setosa
2   3          4.7         3.2          1.3         0.2  Iris-setosa
3   4          4.6         3.1          1.5         0.2  Iris-setosa
4   5          5.0         3.6          1.4         0.2  Iris-setosa
      Id  SepalLength  SepalWidth  PetalLength  PetalWidth         Species
145  146          6.7         3.0          5.2         2.3  Iris-virginica
146  147          6.3         2.5          5.0         1.9  Iris-virginica
147  148          6.5         3.0          5.2         2.0  Iris-virginica
148  149          6.2         3.4          5.4         2.3  Iris-virginica
149  150          5.9         3.0          5.1         1.8  Iris-virginica

In [28]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Id           150 non-null    int64
 1   SepalLength  150 non-null    float64
 2   SepalWidth   150 non-null    float64
 3   PetalLength  150 non-null    float64
 4   PetalWidth   150 non-null    float64
 5   Species      150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB
None

In [29]:
df = pd.read_csv(iris_csv_path)
print(df.head())

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [30]:
df.columns = ['Id', 'SepalLength','SepalWidth','PetalLength','PetalWidth','Species']
df['sepal_sum'] = df['SepalLength'] + df['SepalWidth']
print("\nAfter adding new columns:")
display(df.head())

After adding new columns:

,Id,SepalLength,SepalWidth,PetalLength,PetalWidth,Species,sepal_sum
0,1,5.1,3.5,1.4,0.2,Iris-setosa,8.6
1,2,4.9,3.0,1.4,0.2,Iris-setosa,7.9
2,3,4.7,3.2,1.3,0.2,Iris-setosa,7.9
3,4,4.6,3.1,1.5,0.2,Iris-setosa,7.7
4,5,5.0,3.6,1.4,0.2,Iris-setosa,8.6

In [31]:
print("Description : ",df.describe())
print("Shape : ",df.shape)
print("Column names : ",df.columns)
print("Datatype of each col : ",df.dtypes)

Description :                 Id  SepalLength  SepalWidth  PetalLength  PetalWidth  \
count  150.000000   150.000000  150.000000   150.000000  150.000000
mean    75.500000     5.843333    3.054000     3.758667    1.198667
std     43.445368     0.828066    0.433594     1.764420    0.763161
min      1.000000     4.300000    2.000000     1.000000    0.100000
25%     38.250000     5.100000    2.800000     1.600000    0.300000
50%     75.500000     5.800000    3.000000     4.350000    1.300000
75%    112.750000     6.400000    3.300000     5.100000    1.800000
max    150.000000     7.900000    4.400000     6.900000    2.500000

        sepal_sum
count  150.000000
mean     8.897333
std      0.891718
min      6.800000
25%      8.300000
50%      8.850000
75%      9.575000
max     11.700000
Shape :  (150, 7)
Column names :  Index(['Id', 'SepalLength', 'SepalWidth', 'PetalLength', 'PetalWidth',
       'Species', 'sepal_sum'],
      dtype='object')
Datatype of each col :  Id               int64
SepalLength    float64
SepalWidth     float64
PetalLength    float64
PetalWidth     float64
Species         object
sepal_sum      float64
dtype: object

In [32]:
print(df['SepalLength'])

0      5.1
1      4.9
2      4.7
3      4.6
4      5.0
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: SepalLength, Length: 150, dtype: float64

In [33]:
print(df[['SepalLength','Species']])

     SepalLength         Species
0            5.1     Iris-setosa
1            4.9     Iris-setosa
2            4.7     Iris-setosa
3            4.6     Iris-setosa
4            5.0     Iris-setosa
..           ...             ...
145          6.7  Iris-virginica
146          6.3  Iris-virginica
147          6.5  Iris-virginica
148          6.2  Iris-virginica
149          5.9  Iris-virginica

[150 rows x 2 columns]

In [34]:
print(df.iloc[0],'\n')                     # returns first row
print(df.iloc[0:5],'\n')                   # returns first 5 rows
print(df.loc[0],'\n')                      # returns row by label
print(df.loc[:, 'SepalLength'],'\n')       # returns column by label

Id                       1
SepalLength            5.1
SepalWidth             3.5
PetalLength            1.4
PetalWidth             0.2
Species        Iris-setosa
sepal_sum              8.6
Name: 0, dtype: object

   Id  SepalLength  SepalWidth  PetalLength  PetalWidth      Species  \
0   1          5.1         3.5          1.4         0.2  Iris-setosa
1   2          4.9         3.0          1.4         0.2  Iris-setosa
2   3          4.7         3.2          1.3         0.2  Iris-setosa
3   4          4.6         3.1          1.5         0.2  Iris-setosa
4   5          5.0         3.6          1.4         0.2  Iris-setosa

   sepal_sum
0        8.6
1        7.9
2        7.9
3        7.7
4        8.6

Id                       1
SepalLength            5.1
SepalWidth             3.5
PetalLength            1.4
PetalWidth             0.2
Species        Iris-setosa
sepal_sum              8.6
Name: 0, dtype: object

0      5.1
1      4.9
2      4.7
3      4.6
4      5.0
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: SepalLength, Length: 150, dtype: float64

In [35]:
print(df[df['SepalLength'] > 5])

      Id  SepalLength  SepalWidth  PetalLength  PetalWidth         Species  \
0      1          5.1         3.5          1.4         0.2     Iris-setosa
5      6          5.4         3.9          1.7         0.4     Iris-setosa
10    11          5.4         3.7          1.5         0.2     Iris-setosa
14    15          5.8         4.0          1.2         0.2     Iris-setosa
15    16          5.7         4.4          1.5         0.4     Iris-setosa
..   ...          ...         ...          ...         ...             ...
145  146          6.7         3.0          5.2         2.3  Iris-virginica
146  147          6.3         2.5          5.0         1.9  Iris-virginica
147  148          6.5         3.0          5.2         2.0  Iris-virginica
148  149          6.2         3.4          5.4         2.3  Iris-virginica
149  150          5.9         3.0          5.1         1.8  Iris-virginica

     sepal_sum
0          8.6
5          9.3
10         9.1
14         9.8
15        10.1
..         ...
145        9.7
146        8.8
147        9.5
148        9.6
149        8.9

[118 rows x 7 columns]

In [36]:
df['SepalLength'] = pd.to_numeric(df['SepalLength']) # Convert to numeric
print(df[df['SepalLength'] > 5])

      Id  SepalLength  SepalWidth  PetalLength  PetalWidth         Species  \
0      1          5.1         3.5          1.4         0.2     Iris-setosa
5      6          5.4         3.9          1.7         0.4     Iris-setosa
10    11          5.4         3.7          1.5         0.2     Iris-setosa
14    15          5.8         4.0          1.2         0.2     Iris-setosa
15    16          5.7         4.4          1.5         0.4     Iris-setosa
..   ...          ...         ...          ...         ...             ...
145  146          6.7         3.0          5.2         2.3  Iris-virginica
146  147          6.3         2.5          5.0         1.9  Iris-virginica
147  148          6.5         3.0          5.2         2.0  Iris-virginica
148  149          6.2         3.4          5.4         2.3  Iris-virginica
149  150          5.9         3.0          5.1         1.8  Iris-virginica

     sepal_sum
0          8.6
5          9.3
10         9.1
14         9.8
15        10.1
..         ...
145        9.7
146        8.8
147        9.5
148        9.6
149        8.9

[118 rows x 7 columns]

In [37]:
print(df.sort_values('SepalLength', ascending=False).head(3))

      Id  SepalLength  SepalWidth  PetalLength  PetalWidth         Species  \
131  132          7.9         3.8          6.4         2.0  Iris-virginica
122  123          7.7         2.8          6.7         2.0  Iris-virginica
118  119          7.7         2.6          6.9         2.3  Iris-virginica

     sepal_sum
131       11.7
122       10.5
118       10.3

In [38]:
print(df.isnull())                   # Detect missing
print(df.isnull().sum())             # Count missing
df.dropna()                          # Drop missing
df.fillna(0)                         # Fill missing

        Id  SepalLength  SepalWidth  PetalLength  PetalWidth  Species  \
0    False        False       False        False       False    False
1    False        False       False        False       False    False
2    False        False       False        False       False    False
3    False        False       False        False       False    False
4    False        False       False        False       False    False
..     ...          ...         ...          ...         ...      ...
145  False        False       False        False       False    False
146  False        False       False        False       False    False
147  False        False       False        False       False    False
148  False        False       False        False       False    False
149  False        False       False        False       False    False

     sepal_sum
0        False
1        False
2        False
3        False
4        False
..         ...
145      False
146      False
147      False
148      False
149      False

[150 rows x 7 columns]
Id             0
SepalLength    0
SepalWidth     0
PetalLength    0
PetalWidth     0
Species        0
sepal_sum      0
dtype: int64

,Id,SepalLength,SepalWidth,PetalLength,PetalWidth,Species,sepal_sum
0,1,5.1,3.5,1.4,0.2,Iris-setosa,8.6
1,2,4.9,3.0,1.4,0.2,Iris-setosa,7.9
2,3,4.7,3.2,1.3,0.2,Iris-setosa,7.9
3,4,4.6,3.1,1.5,0.2,Iris-setosa,7.7
4,5,5.0,3.6,1.4,0.2,Iris-setosa,8.6
...,...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica,9.7
146,147,6.3,2.5,5.0,1.9,Iris-virginica,8.8
147,148,6.5,3.0,5.2,2.0,Iris-virginica,9.5
148,149,6.2,3.4,5.4,2.3,Iris-virginica,9.6
149,150,5.9,3.0,5.1,1.8,Iris-virginica,8.9

In [39]:
print(df['SepalLength'].sum())
print(df['SepalLength'].mean())

876.5
5.843333333333334

In [40]:
print(df.groupby('Species').sum())

                   Id  SepalLength  SepalWidth  PetalLength  PetalWidth  \
Species
Iris-setosa      1275        250.3       170.9         73.2        12.2
Iris-versicolor  3775        296.8       138.5        213.0        66.3
Iris-virginica   6275        329.4       148.7        277.6       101.3

                 sepal_sum
Species
Iris-setosa          421.2
Iris-versicolor      435.3
Iris-virginica       478.1

In [41]:
print(df.groupby('Species')['SepalLength'].mean())

Species
Iris-setosa        5.006
Iris-versicolor    5.936
Iris-virginica     6.588
Name: SepalLength, dtype: float64

In [42]:
import pandas as pd
from sklearn.datasets import load_iris

iris = load_iris()
df = pd.DataFrame(iris.data, columns=iris.feature_names)
df['target'] = iris.target
print(df.head())
print(df.columns)

df['sepal_sum'] = df['sepal length (cm)'] + df['sepal width (cm)']
df['species_name'] = df['target'].map({0: 'setosa', 1: 'versicolor', 2: 'virginica'})
print(df.head())
print(df.columns)

columns_to_remove = ['sepal width (cm)', 'sepal_sum']
columns_to_remove = [col for col in columns_to_remove if col in df.columns]
df = df.drop(columns=columns_to_remove, axis=1)
print(df.head())
print(df.columns)

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)  \
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

   target
0       0
1       0
2       0
3       0
4       0
Index(['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)',
       'petal width (cm)', 'target'],
      dtype='object')
   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)  \
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

   target  sepal_sum species_name
0       0        8.6       setosa
1       0        7.9       setosa
2       0        7.9       setosa
3       0        7.7       setosa
4       0        8.6       setosa
Index(['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)',
       'petal width (cm)', 'target', 'sepal_sum', 'species_name'],
      dtype='object')
   sepal length (cm)  petal length (cm)  petal width (cm)  target species_name
0                5.1                1.4               0.2       0       setosa
1                4.9                1.4               0.2       0       setosa
2                4.7                1.3               0.2       0       setosa
3                4.6                1.5               0.2       0       setosa
4                5.0                1.4               0.2       0       setosa
Index(['sepal length (cm)', 'petal length (cm)', 'petal width (cm)', 'target',
       'species_name'],
      dtype='object')